.questionnaire-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    width: 1200px;
    padding-top: 20px; /* Add padding to the top */
  }
  .questionnaire-table {
    border-collapse: collapse;
    width: 100%; /* Adjust the width as needed */
    margin-top: 20px; /* Add some spacing from the button and label */
  }
  
  .questionnaire-table th, .questionnaire-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .questionnaire-table th {
    background-color: #f2f2f2;
  }
  
  .questionnaire-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .questionnaire-table tr:hover {
    background-color: #ddd;
  }

  .centered-table {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    width: 100%; /* Ensures the container takes the full width */
    min-height: 60vh; /* Adjust this value depending on the content's height */
  }
  
  .table {
    width: 100%;
    margin: 0 auto; /* Centers the table */
    margin-bottom: 20px; /* Adds space between the table and the pagination */
  }
  
  /* Questionnaire.css */

  .button {
    background-color: #b22222; /* Brick Red */
    color: white; /* Text color */
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px; /* Optional: for rounded corners */
    transition: background-color 0.3s;
    margin-right: 10px; /* Space between buttons */
    margin-bottom: 10px; /* Space below buttons */
  }
  
  
  .button:hover {
    background-color: #a52a2a; /* Darker shade on hover */
  }
  
  .button:disabled {
    background-color: #ccc; /* Light gray for disabled */
    cursor: not-allowed;
  }
  

.table-button {
  background-color: black;
}

.table-button:hover {
  background-color: darkgray; /* Change color on hover */
}

.pagination-button {
  background-color: transparent;
  color: black; /* Black text for simplicity */
  border: none;
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 10px;
  transition: background-color 0.2s;
}

.pagination-button:hover {
  background-color: lightgray; /* Light gray background on hover */
}
